.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__mSrYr {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0018ff;
  min-width: 0;
  padding: 8px;
}
.header:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__vRwBl {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 20px;
}
.freeBox__vRwBl > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__vRwBl > :global(.__wab_flex-container) > *,
.freeBox__vRwBl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vRwBl > :global(.__wab_flex-container) > picture > img,
.freeBox__vRwBl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.text__r3BC {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
.text__ik5E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  padding-top: 0px;
  min-width: 0;
}
