.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.freeBox__awWsN {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #0021ff;
  min-width: 0;
  padding: 8px;
}
.header:global(.__wab_instance):global(.__wab_instance) {
  max-width: 100%;
}
.freeBox__sQ3Hg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__sQ3Hg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.freeBox__sQ3Hg > :global(.__wab_flex-container) > *,
.freeBox__sQ3Hg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sQ3Hg > :global(.__wab_flex-container) > picture > img,
.freeBox__sQ3Hg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.fetcher__uoJxZ:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.fetcher__jjUu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ve4M9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 0px;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__tbKd {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 0;
  padding: 0px;
}
.antdTable:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
}
.antdTableColumn__vzLvt:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ivurL {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue__lZ4Fj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn___3Ffef:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__g6VMq {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0;
}
.freeBox__g6VMq > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__g6VMq > :global(.__wab_flex-container) > *,
.freeBox__g6VMq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__g6VMq > :global(.__wab_flex-container) > picture > img,
.freeBox__g6VMq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 25px;
  height: 25px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.antdTableValue:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn__rn23N:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__rv4Xb {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue__uPcT:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn__oDik4:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__sk8Kk {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue__frEe:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn__zZoNq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__qhene {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue__gwaAh:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn__dDw5O:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox___9DH3O {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue__y9WU:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn__erdWf:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__i6R28 {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue__sBu1S:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn__rmZSq:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__vwi7X {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue___7G0Rk:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn__x6Gi3:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__uZseM {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue__dcrFj:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.antdTableColumn__aMsMy:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.freeBox__ilzjl {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0;
}
.antdTableValue___21DZm:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
